@font-face { font-family: sentytang; src: url(../font/SentyTang.ttf); format('truetype'); }

body { margin: 0 0; padding: 0 0; }
.small { color: #B8BEBF; font-size: 7vw; }
.split { border: 0.3vw solid #ccc; border-radius: 5px; width: 33vw; }
.x-large, .large { color: #225378; }
.x-large { font-size: 29vw; }
.ceremony { font-size: 20vw; }
.date { font-size: 10.9vw; }
.time { font-size: 11vw; }
.hall { font-size: 11.8vw; }
.x-large, .large, .small { text-align: center; }
.bold { font-weight: bold; }
.intro { display: inline; }
.introchild:before { display: inline; height: 100%; vertical-align: middle; }
.introchild { font-family: sentytang; }
.panel { padding: 5px 5px; }
.image.marker { height: 100%; vertical-align: middle; }
.welcome { text-align: center; font-size: 6vw; font-family: sentytang; }
.address p { margin: 0px; padding: 5px 0px; height: 50px; }
.info { text-align: center; }
.btn { background-color: #FF004F; border-radius: 30px; color: white; display: inline-block; font-size: 5vw; font-weight: bold; margin: 5px 5px; padding: 6px 12px; }
.icon { vertical-align: middle; width: 7vw; height: 7vw; margin: 0 5px; }
